/* Reseteo de estilos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.container{
    display:flex;
    justify-content: space-between;
}


/* Leftside */
.leftSide{
    display: flex;
    width: 30%;
    flex-direction: column;
}

/* Productos */
.productos{
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 20px;
}

/* Selector general de todos los hijos de productos */

section.productos > div {
    width: 100%;
    display: flex;
}

    section.productos > div > img {
            transition: transform 0.2s ease;/* Agregamos una transición para que el cambio de escala sea suave */
        }

        section.productos > div > img:active {
                transform: scale(0.9); /* Aplicamos una escala menor cuando se hace clic */
            }

        section.productos > div > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

/* Compras */
.compras {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

    .compras > article {
        width: 100%;
        display: flex;
        margin-bottom: 5px;
    }

        .compras > article > button {
            padding: 5px 10px;
            margin-right: 3px;
            cursor: pointer;
        }

        .compras > article > div {
            display: flex;
            border: 1px solid black;
            flex-grow: 1;
            align-items: center;
            justify-content: space-around;
            border-radius: 2px;
        }

/* Rightside */
.rightSide{
    width: 68%;
    display: flex;
    margin-right: 10px;
    flex-direction: column;
}
/* Propiedades */
section.propiedades{
    width: 100%;
    height: 80%;
    margin-top: 1%;
    display: flex;
    border: 1px solid black;
    overflow-x: auto;
}

/* Upgrades */
section.upgrades{
    width: 100%;
    display: flex;
    border: 1px solid black;
    overflow-x: auto;
}
    section.upgrades .caja{
        margin: 4px;
        border: 1px solid black;
    }
    


.informacion{
    display: none;
}