/* Reseteo de estilos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.container{
    display:flex;
    justify-content: space-between;
}
.left{

}
    #inventario{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-left: 30px;
        white-space: pre-line;
        line-height: 0.75;
    }
    #produccion{
        width: 400px;
        display: flex;
        margin-top: 30px;
        margin-left: 30px;
    }
.right{
    width: auto;
    display:flex;
    flex-direction: column;
}

.caja {
    border: 3px solid #ccc;
    padding: 2px;
    margin-bottom: 5px;
    width: 300px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Productos */

.productos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Selector general de todos los hijos de productos */

div.productos > div {
    width: 100%;
    display: flex;
}

    div.productos > div > img {
        transition: transform 0.2s ease;/* Agregamos una transición para que el cambio de escala sea suave */
    }

        div.productos > div > img:active {
            transform: scale(0.9); /* Aplicamos una escala menor cuando se hace clic */
        }

    div.productos > div > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


/* */

.informacion {
    margin-left: 5px;
}

    .informacion p {
        margin: 5px 0;
    }

        .informacion p span {
            font-weight: bold;
            color: rgb(240, 115, 66);
        }