.caja {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
}

.informacion {
    margin-left: 10px;
}

.informacion p {
    margin: 5px 0;
}

.informacion p span {
    font-weight: bold;
    color: blue;
}